<ion-view view-title="Find a Partner!">
  <ion-content class="padding" >
    <ion-list>
      <label class="item item-select">
        <span class="input-label"> I'm a...</span>
        <select>
          <option>flyer</option>
          <option>base</option>
          <option> hybrid </option>
        </select>
      </label>
      <label class="item item-select">
        <span class="input-label"> ...looking for a...</span>
        <select>
          <option> flyer</option>
          <option> base</option>
          <option> hybrid </option>
          </select>
      </label>
      
    <div class="list card">
      <div class="item item-body">
      <div id="map"></div>
        <body ng-controller="MapCtrl">
         <ion-header-bar class="bar-dark">
            <h1 class="title">Map</h1>
         </ion-header-bar>
         <ion-content>
            <div id="map" data-tap-disabled="true"></div>
          </ion-content>
          <ion-footer-bar class="bar-dark">
            <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
          </ion-footer-bar>
        </body>
     <!-- </div>-->
  
    
  </ion-content>
</ion-view>
