<ion-view view-title="Find a Partner!">
  <ion-content class="padding" >
    <ion-list>
      <label class="item item-select">
        <span class="input-label"> I'm a...</span>
        <select>
          <option>flyer</option>
          <option>base</option>
          <option> hybrid </option>
        </select>
      </label>
      <label class="item item-select">
        <span class="input-label"> ...looking for a...</span>
        <select>
          <option> flyer</option>
          <option> base</option>
          <option> hybrid </option>
          </select>
      </label>
      
    <div class="list card">
      <div class="item item-divider">Map</div>
      <div class="item item-body">
        <div id="map"></div>
      </div>
  
    
  </ion-content>
</ion-view>
